

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.container .body-content {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.information {
    text-align: center;
}

.button-submit {
    text-align: center;
}

.add-new {
    width: 83px;
    height: 25px;
    background-color: #4caf50;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

    .add-new a {
        color: white;
        font-size: 14px;
    }

.tbl-list {
    margin: 0 auto;
}

#GridView1 {
    border-collapse: collapse;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

    #GridView1 td, #GridView1 th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #GridView1 tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #GridView1 tr:hover {
        background-color: #ddd;
    }

    #GridView1 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

.txt-heading {
    text-align: center
}

    .txt-heading h2 {
        font-size: revert;
        text-transform: uppercase;
    }

.layout-form {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.iconOpen {
    margin-left: 10px;
    position:fixed;
    top:0px;
    left:0px;
}

.header {
    min-height: 40px;
}

.text-wellcome {
    width:100%;
    font-size:26px;
    text-align:center;
}

.container.body-content {
    margin-left: 0;
}
