.detail__contact2 {
    display: none;
}

.detail__des-parameter2 {
    display: none;
    margin-left:20px;
}

@media screen and (max-width: 1100px) {

    .detail__container{
        justify-content:space-around;
    }
    .detail__contact1 {
        display: none;
    }
    .detail__des-parameter1 {
        display: none;
    }
    .detail__contact2 {
        display: block;
    }

    .detail__des-parameter2 {
        display: block;
    }
    .parameter-table{
        width:100%;
    }
    .detail__des-content {
        width: 100%;
        max-width: 100%;
        margin-left:20px;
    }
    
}
@media screen and (max-width: 1100px) {

    .detail__container{
        flex-direction:column;
        align-items:center;
        margin-bottom:20px;
    }
}
